<div class="mainContainer">
    <h1>Parent Component</h1>
    <div class="box1">
        <div class="subBox1-1">
            <div [formGroup]="myForm">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enviar mensaje a hijos</mat-label>
                    <input #parentInput matInput required placeholder="Enviar Mensaje a hijos" formControlName="parent">
                    <mat-error *ngIf="parent?.errors?.required">
                        Message required
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button id="btnParent" (click)="setMessage(parentInput.value)" color="primary"
                    [disabled]="parent?.invalid">Enviar</button>
            </div>
        </div>
        <div class="subBox1-2">
            <p><b>Mensaje de hijos a padre :</b> {{fromChildsMessage ? fromChildsMessage : 'Sin mensaje'}}</p>
        </div>
    </div>
    <div class="box2">
        <app-first-child [parentMessage]="toChildMessage" (childMessage)="getMessage($event)"></app-first-child>
        <app-second-child [parentMessage]="toChildMessage" (childMessage)="getMessage($event)"></app-second-child>
    </div>
</div>